
:root {
  --infoColumnWidth: 300px;

  --color-font: #ECEDF3;
  --color-font-med: #727587;
  --color-font-dark: #484B5E;
  --color-bg: #1B1C1F;
}

* {
  position: relative;
  box-sizing: border-box;
}

html, body {
  background: var(--color-bg);
  font-family: 'Space Grotesk', sans-serif;
  font-size: 16px;
  line-height: 1.4;
  color: var(--color-font);
  font-weight: 300;
}

h1 {
  font-size: 32px;
}
h2 {
  font-weight: 600;
  margin-bottom: 0.5rem;
}
h3 {
  color: var(--color-font-dark);
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 2rem;
  text-align: right;
}
h4 {
  color: var(--color-font-med);
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  line-height: 1;
}
a {
  color: inherit;
  text-decoration: none;
  border-bottom: solid 1px var(--color-font-med);
}
a:hover {
  border-color: var(--color-font);
}
i {
  color: var(--color-font-dark);
}

p {
  line-height: 1.8;
}

#wrapper {
  min-height: 100vh;
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px;
}

footer,
header {
  width: calc( (100vw - var(--infoColumnWidth)) / 2 - 20px );
  max-width: calc( (1400px - var(--infoColumnWidth)) / 2 - 20px );
  padding: 10px;
  margin-left: var(--infoColumnWidth);
}

header {
  margin-top: 3rem;
  margin-bottom: 2rem;
}
header p + p {
  margin-top: 0.5em;
}

footer {
  font-size: 13px;
  color: var(--color-font-med);
}

.cards {

}
.cards .week {
  margin: 20px 0;
  display: flex;
}
.cards .week .description {
  width: var(--infoColumnWidth);
  flex-shrink: 0;
  padding: 10px;
  padding-right: 20px;
}

.cardContainer {
  display: flex;
  flex: 1;
  perspective: 2000px;
  -webkit-perspective: 2000px;
}

.card {
  flex: 1;
  margin: 10px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  transition: all 0.2s, transform 0.6s cubic-bezier(.55, -.3, .27, 1.2);
  cursor: pointer;
}
.card:before {
  content: '';
  display: block;
}

.card-of-olivier:before {
  padding-top: 70.94594595%;
}
.card-of-niko:before {
  padding-top: 69.81132075%;
}
.card-of-niko.week01:before,
.card-of-niko.week02:before,
.card-of-niko.week03:before {
  padding-top: 69.1011236%;
}


.card .front,
.card .back {
  border-radius: 0.2%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  backface-visibility: hidden;

  -webkit-perspective: 0;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate3d(0,0,0);
}
.card .front {
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  z-index: 2;
}
.card .back {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  z-index: 1;
}

.card.flipped {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

@media only screen and (max-width: 900px) {
  .cardContainer {
    flex-direction: column;
  }
  header,
  footer {
    width: calc( 100vw - var(--infoColumnWidth) - 20px );
  }
}

@media only screen and (max-width: 600px) {
  footer,
  header {
    width: calc( 100vw - 20px );
    margin-left: 0;
  }
  .cards .week {
    flex-direction: column;
  }
  .cards .week .description {
    width: 100%;
    padding-right: 10px;
  }

}



