
* {
	position: relative;
	box-sizing: border-box;
}

// Rows
.row {
	max-width: $grid-max-width;
	margin: $grid-margin auto;

	&:after {
		clear: both;
		display: block;
		content: '';
	}


	&.flex-center {
		
		display: flex;
		align-items: center;

		.d100, .d80, .d75, .d66, .d60, .d50, .d40, .d33, .d25, .d20 {
			float: none;
		}
	}
	&.reverse {
		.d100, .d80, .d75, .d66, .d60, .d50, .d40, .d33, .d25, .d20 {
			float: right;	
		}
	}

	&.text {
		max-width: $max-width-text;
	}

	&.flex-same {

		display: flex;

		.d100, .d80, .d75, .d66, .d60, .d50, .d40, .d33, .d25, .d20 {
			flex: 1;
			display: flex;
			float: none;
		}
	}

	&.flex-reverse {
		flex-direction: row-reverse;
	}
}


// Columns 

.d100, .d80, .d75, .d66, .d60, .d50, .d40, .d33, .d25, .d20 {
	float: left;	
	padding: $grid-padding;

	&.flex-center {
		display: flex;
		justify-content: center;
		flex-direction: column;
	}
}

.d100 {
	width: 100%;
}
.d80 {
	width: 80%;
}
.d75 {
	width: 75%;
}
.d66 {
	width: 66.6666%;
}
.d60 {
	width: 60%;
}
.d50 {
	width: 50%;
}
.d40 {
	width: 40%;
}
.d33 {
	width: 33.3333%;
}
.d25 {
	width: 25%;
}
.d20 {
	width: 20%;
}


.lazyBG {
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
}


@media screen and (max-width: $grid-mobile) {
	
	.row {
		margin: $grid-margin-mobile auto;

		&.flex-same {
			display: block;
			.d100, .d80, .d75, .d66, .d60, .d50, .d40, .d33, .d25, .d20 {
				display: block;
			}
		}

		&.flex-reverse {
			display: block;
		}
	}

	.d100, .d80, .d75, .d66, .d60, .d50, .d40, .d33, .d25, .d20 {
		float: none;	
		width: 100%;
	}

}




















