

body, html {

	overflow-x: hidden;
	width: 100%;

	background: $color-bg;

	font-family: $font;
	color: $color-font;

	font-size: 16px;


}



h1 {
	font-size: 3rem;
}
h2 {
	margin-bottom: $grid*3;
	text-transform: uppercase;

	font-weight: 600;
	font-size: 14px;
	letter-spacing: 0.1em;

	color: rgba( $color-font , 0.3 );
}




footer {
	opacity: 0.3;
	font-size: 13px;
}